body {
  background-color: black;
  font-family: 'Orbitron', sans-serif;
}

.container {
  background-color: black;
}

.item {
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*___*/
  border: 2px solid #238D16;
  background-color: black;
  color:#238D16;
  margin: 10px;
}

.item legend {
  text-align: center;
  letter-spacing: 5px;
  font-weight: 700;
}